@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500;700&display=swap');
@import 'tailwindcss' theme(static);
@source "../../app/**/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

body {
  font-family: 'Google Sans', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.wc-block-components-button:not(.is-link),
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce .woocommerce-form-register .woocommerce-form-register__submit {
  @apply rounded text-white w-full text-center font-bold text-base bg-indigo-600 hover:bg-indigo-700 hover:text-white;
}

.woocommerce {
  ul.products {
    li.product {
      text-align: center;

      h2 {
        @apply text-base font-medium text-left text-gray-600;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .price {
        @apply text-gray-700 font-bold mb-0 text-2xl text-left;
      }

      .button {
        @apply rounded text-white w-full text-base text-center py-2 bg-indigo-600 hover:bg-indigo-700;
      }

      .added_to_cart {
        @apply text-sm text-gray-500;
      }
    }
  }
}

.maniadeleitura-product__add-to-cart {
  form {
    display: flex;
    flex-direction: column;
  }
}

.woocommerce div.product form.cart {
  margin-bottom: 0;
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button.alt {
  @apply rounded text-white font-bold w-full text-base py-2 text-center bg-indigo-600 hover:bg-indigo-700;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  @apply flex flex-col gap-4;

  h1 {
    @apply border-b border-gray-200;
  }

  .price {
    @apply font-bold text-3xl text-black;
  }

  .maniadeleitura-product__meta {
    @apply flex flex-col;
  }

  .sku_wrapper {
    @apply text-xs;
  }
}

.wc-forward {
  @apply rounded;
}

@container (min-width: 700px) {
  .wc-block-checkout__sidebar {
    align-self: flex-start;
    top: 142px;
  }
}
